<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stripe Pricing Table</title>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
  </head>
  <body>
    <stripe-pricing-table
      pricing-table-id="prctbl_1PqDXaHji5VpLEv2EcTEc3wi"
      publishable-key="pk_test_51KsiHCHji5VpLEv2j7YkmRv8VWLMmWr1HDsj2PuBXJjLq2L2TnbSn9XJpN3aPODTuWXqUkPczCARXN4Eiztx1LKz00W1H9GzRh"
    >
    </stripe-pricing-table>
  </body>
</html>
